.contact-item {
  /* margin: auto; */
  list-style: none;
  width: 100%;
  text-align: center;
  margin: 30px 5px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 420px);
}
.contact-item li {
  margin: 5px;
  border-radius: 1rem;
  color: #68c5db;
  font-size: 1.2rem;
  font-weight: bold;
}
.contact-list {
  background-color: rgba(1, 1, 2, 0.8);
  padding: 20px;
  border-radius: 1.5rem;
  height: 220px;
  box-shadow: 0 0 10px #02182b;
  /* width: 300px; */
  margin: 5px 30px;
  position: relative;
}
.checkbox {
  position: absolute;
  box-shadow: none;
  top: -20px;
  right: 0px;
  /* transform: scale(1.5); */
  opacity: 0;
  width: 20px;
  height: 20px;
  /* transition: opacity 0.3s ease ,transform 0.3s ease; */
  animation: tilt-shaking 1s;
}
.checkbox,
.show {
  opacity: 1;
  border: 2px solid red;
  
  /* transform: scale(1.5) rotate(10deg); */
}
.contact-item button {
  width: 100px;
  background-origin: 1rem;
}
.edit-btn {
  background-color: #448fa3;
}
.delete-btn {
  background-color: #d7263d;
}

.user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}
@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
