input{
    
    padding: 10px;
    border-radius: 1rem;
    margin-left: 20px;
    font-size: 1rem;
    width: 90%;
    border: none;
    outline: none;
    margin-top: 20px;
    box-shadow: 0 0 8px grey;
}
