input{
    padding: 10px;
    border-radius: 1rem;
    margin-left: 20px;
    font-size: 1rem;
    width: 80%;
    border: none;
    outline: none;
    margin-top: 20px;
    box-shadow: 0 0 8px rgb(9, 20, 173);
    background-color: transparent
}

input::placeholder{
    color:black;
}